[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-aiohttp = "==0.3.0"
asynctest = "==0.12.2"

[packages]
aiohttp = "==3.4.0"
aiohttp-utils = "==3.0.0"
motor = "==2.0.0"
pillow = "==5.2.0"
asynctest = "*"

[requires]
python_version = "3.7"
